.markdown-body {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size:1em;
  color: #333;
  line-height: 1.6;
  word-wrap: break-word;
  padding: 2.5em;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;

  & > *:first-child {
    margin-top: 0 !important
  }

  & > *:last-child {
    margin-bottom: 0 !important
  }

  & * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
  }

  & ol ol,
  & ul ol,
  & ol ul,
  & ul ul,
  & ol ul ol,
  & ul ul ol,
  & ol ul ul,
  & ul ul ul {
    margin-top: 0;
    margin-bottom: 0
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4
  }

  & p,
  & blockquote,
  & ul,
  & ol,
  & dl,
  & table,
  & pre {
    margin-top: 0;
    margin-bottom: 16px
  }

  & h1 {
    margin: .67em 0;
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee
  }

  & h2 {
    padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee
  }

  & h3 {
    font-size: 1.5em;
    line-height: 1.43
  }

  & h4 {
    font-size: 1.25em
  }

  & h5 {
    font-size: 1em
  }

  & h6 {
    font-size: 1em;
    color: #777
  }

  & ol,
  & ul {
    padding-left: 2em
  }

  & ol ol,
  & ul ol {
    list-style-type: lower-roman
  }

  & ol ul,
  & ul ul {
    list-style-type: circle
  }

  & ol ul ul,
  & ul ul ul {
    list-style-type: square
  }

  & ol {
    list-style-type: decimal
  }

  & ul {
    list-style-type: disc
  }

  & blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd
  }

  & table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0
  }

  & table tr {
    background-color: #fff;
    border-top: 1px solid #ccc
  }

  & table tr:nth-child(2n) {
    background-color: #f8f8f8
  }

  & table th,
  & table td {
    padding: 6px 13px;
    border: 1px solid #ddd
  }

  & pre {
    word-wrap: normal;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    -webkit-border-radius: 3px;
    border-radius: 3px
  }

  & pre code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    font-size: 100%;
    line-height: inherit;
    word-wrap: normal;
    white-space: pre;
    border: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: transparent
  }

  & pre code:before,
  & pre code:after {
    content: normal
  }

  & code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 0;
    padding-top: .2em;
    padding-bottom: .2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    -webkit-border-radius: 3px;
    border-radius: 3px
  }

  & code:before,
  & code:after {
    letter-spacing: -0.2em;
    content: "\00a0"
  }

  & a {
    color: #4078c0;
    text-decoration: none;
    background: transparent
  }

  & img {
    max-width: 100%;
    max-height: 100%;
  }

  & strong {
    font-weight: bold
  }

  & em {
    font-style: italic
  }

  & del {
    text-decoration: line-through
  }
}

